:root {
    /* declare a variable with `--` syntax */
    --dark-text: #13293d;
    --dark-background: #13293d;
    --light-text: #f5f5f5;
    --light-background: white;
    --border-radius: 5px;
    --skiblue: #00bfff;
  }
  

.title{
    font-family: bangers;
    font-size: 60px;
    color: white;
  }

  .custom-button{
   margin-left: 95%;
   font-family: bangers;
  }