* {
  border: 1px red solid;
}

:root {
    /* declare a variable with `--` syntax */
    --dark-text: #13293d;
    --dark-background: #13293d;
    --light-text: #f5f5f5;
    --light-background: white;
    --border-radius: 5px;
    --skiblue: #00bfff;
  }
  

.title{
    font-family: bangers;
    font-size: 60px;
    color: white;
  }

  .custom-button{
   font-family: bangers;
  }

  .title-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sub-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* CHANGE COLOR OF PLACEHOLDER TEXT FROM GRAY TO BLACK */
  #txtStartAddress::placeholder {
    color: black
  }
  

  /* .custom-tile{
    max-height: 600px;
    overflow: scroll;
  } */