/* * {
  border: 1px red solid;
} */

:root {
  /* declare a variable with `--` syntax */
  --dark-text: #13293d;
  --dark-background: #13293d;
  --light-text: #f5f5f5;
  --light-background: white;
  --border-radius: 5px;
  --skiblue: #3e8ed0;
}

body {
  font-family: 'Bangers', 'Cambria', Cochin, Georgia, Times, "Times New Roman", serif;
}

.dashboardtitle {
  font-family: bangers;
  font-size: 60px;
  color: white;
}
.subtitle {
  font-family: bangers;
  font-size: 45px;
  color: #209cee;
}

.custom-button {
  font-family: bangers;
}

.sub-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#txtStartAddress::placeholder {
  color: black;
}

.custom-title {
  font-family: bangers;
  font-size: 45px;
  color: white;
}

.updateButton {
  font-family: bangers;
  color: var(--skiblue);
  margin-bottom: 10px;
}

.custom-table {
  max-height: 730px;
  overflow-y: scroll;
}

.inputParent {
  display: flex;
  margin-bottom: 5px;
  margin-top: 3px;
}

.input {
  margin-bottom: 5px;
  justify-content: space-evenly;
}

.hide {
  display: none !important;
}

#powMeterImage {
  max-height: 250px;
  max-width: 250px;
}

.powText {
  font-family: bangers;
  color: white;
}

#staticMap {
  border-radius: 5px;
}

/* .powMeterSection{
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .custom-tile{
    max-height: 600px;
    overflow: scroll;
  } */
