/* * {
  border: 1px solid red;
} */
body {
  /* font-family: 'Bangers'; */
  font-family: 'Bangers', 'Cambria', Cochin, Georgia, Times, "Times New Roman", serif;
  /* color: white; */
}

.custom-header,
.custom-box-blue {
  background-color: #3E8ED0;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
}

.custom-box-red {
  background-color: #3E8ED0;
  border: 1px solid white!important;
  color: white;
  border-radius: 5px;
}

.custom-box-gray {
  background-color: gray;
}

.custom-font {
  font-family: 'Bangers', 'Cambria', Cochin, Georgia, Times, "Times New Roman", serif;
}

.custom-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* JQUERY AUTOCOMPLETE CSS */
.ui-autocomplete {
  max-width: 300px;
  background-color: white;
  border: 1px solid black;
  z-index: 2147483647;
}

/* ENSURES THE AUTOCOMPLETE ITEM DOESNT RENDER AT THE BOTTOM LEFT OF DESKTOP UX */
.ui-helper-hidden-accessible {
  display: none !important;
}