* {
  /* border: 1px solid red; */
}

body {
  font-family: 'Bangers', 'Cambria', Cochin, Georgia, Times, "Times New Roman", serif;
}

.custom-font {
  font-family: 'Bangers', 'Cambria', Cochin, Georgia, Times, "Times New Roman", serif;
}

.custom-card {
  margin-top: 60px;
}

.custom-card {
  border: 1px solid white;
  border-radius: 5px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 5px;

}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-box-blue {
  background-color: #3E8ED0;
  color: white;
}

.custom-box-red {
  background-color: #3E8ED0;
  border: 1px solid white!important;
  color: white;
  border-radius: 5px;
}

.custom-hover:hover,
.custom-hover:focus,
.custom-hover:hover {
  color: white;
  border: 2px solid white;
}

.custom-box-gray {
  background-color: gray;
}

/* FOOTER */
.custom-footer {
  display: flex;
  justify-content: space-around;
}

/* MAIN PAGE CLOSE MODAL X */
.custom-close-modal {
  right: 5px;
}

.hide {
  display: none;
}

/* JQUERY AUTOCOMPLETE CSS */
.ui-autocomplete {
  max-width: 300px;
  background-color: white;
  border: 1px solid black;
  z-index: 2147483647;
}

/* ENSURES THE AUTOCOMPLETE ITEM DOESNT RENDER AT THE BOTTOM LEFT OF DESKTOP UX */
.ui-helper-hidden-accessible {
  display: none !important;
}
