:root {
  /* declare a variable with `--` syntax */
  --dark-text: #13293d;
  --dark-background: #13293d;
  --light-text: #f5f5f5;
  --light-background: white;
  --border-radius: 5px;
  --skiblue: #00bfff;
}

.hidden {
  visibility: hidden;
}

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

.title {
  font-family: bangers;
  font-size: 75px;
  color: white;
  padding-bottom: 0px;
}

.custom-button {
  display: flex;
  justify-content: center;
  margin-top: 1px;
  margin-bottom: 1px;
  font-family: bangers;
}

.hero-bkg {
  background: url(assets/images/mountaindashboard.jpg);
}

html {
  /* width: 100%;
  font-family: "Times New Roman", Times, serif; */
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: var(--light-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

/* Set the size of the div element that contains the map */
.mapSection {
  display: flex;
  justify-content: center;
}

#map {
  height: 700px;
  width: 80%;
  border-radius: 10px;
  border: 3px white solid;
}

/* JQUERY AUTOCOMPLETE CSS */
.ui-autocomplete {
  max-width: 300px;
  background-color: white;
  border: 1px solid black;
  z-index: 2147483647;
  /* height: 400px; */
  /* font-size: 24px; */
  /* overflow-y: scroll; */
}

/* this class ensures the autocomplete item doesn't show at bottom right of the desktop UX */
.ui-helper-hidden-accessible {
  display: none !important;
}

/* .ui-autocomplete,
.pac-container {
  z-index: 10000 !important;
} */

/* ---------- MOBILE RESPONSIVE ---------- */
/* --------------------------------------- */
/* --------------------------------------- */

/* ---- HOVER STYLES ---- */
/* Override the hover effect for devices that don't support hover */
@media (hover: none) {
  /* add style properties */
  /* .class:hover {
    color: red:
  } */
}

/* LARGE SCREEN SIZE */
@media screen and (min-width: 1600px) {
}

/* LARGE SCREENS / TABLETS */
@media screen and (max-width: 992px) {
}

/* MEDIUM SCREEN SIZE - LARGE SMARTPHONES*/
@media screen and (max-width: 768px) {
}

/* SMALL SCREEN SIZE */
@media screen and (max-width: 650px) {
}

/* SMALL SMARTPHONES */
@media screen and (max-width: 576px) {
}
