:root {
  /* declare a variable with `--` syntax */
  --dark-text: #13293d;
  --dark-background: #13293d;
  --light-text: #f5f5f5;
  --light-background: white;
  --border-radius: 5px;
  --skiblue: #00bfff;
}

.hidden {
  visibility: hidden;
}

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

.title {
  font-family: bangers;
  font-size: 60px;
  color: white;
}

.hero-bkg {
  background: url(assets/images/mountaindashboard.jpg);
}

html {
  /* width: 100%;
  font-family: "Times New Roman", Times, serif; */
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: var(--light-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}

/* Set the size of the div element that contains the map */
.mapSection {
  display: flex;
  justify-content: center;
}

/* Set the size of the div element that contains the map */
#map {
  height: 820px;
  width: 80%;
  border-radius: 10px;
  border: 3px white solid;
}

/* ---------- MOBILE RESPONSIVE ---------- */
/* --------------------------------------- */
/* --------------------------------------- */

/* ---- HOVER STYLES ---- */
/* Override the hover effect for devices that don't support hover */
@media (hover: none) {
  /* add style properties */
  /* .class:hover {
    color: red:
  } */
}

/* LARGE SCREEN SIZE */
@media screen and (min-width: 1600px) {
}

/* LARGE SCREENS / TABLETS */
@media screen and (max-width: 992px) {
}

/* MEDIUM SCREEN SIZE - LARGE SMARTPHONES*/
@media screen and (max-width: 768px) {
}

/* SMALL SCREEN SIZE */
@media screen and (max-width: 650px) {
}

/* SMALL SMARTPHONES */
@media screen and (max-width: 576px) {
}
