* {
  /* border: 1px solid red;
  box-sizing: border-box; */
}

:root {
  /* --main-bg-color: black; */
}

html {
  /* width: 100%;
  font-family: "Times New Roman", Times, serif; */
}

/* ---------- MOBILE RESPONSIVE ---------- */
/* --------------------------------------- */
/* --------------------------------------- */

/* ---- HOVER STYLES ---- */
/* Override the hover effect for devices that don't support hover */
@media (hover: none) {
  /* add style properties */
  /* .class:hover {
    color: red:
  } */
}

/* LARGE SCREEN SIZE */
@media screen and (min-width: 1600px) {
}

/* LARGE SCREENS / TABLETS */
@media screen and (max-width: 992px) {
}

/* MEDIUM SCREEN SIZE - LARGE SMARTPHONES*/
@media screen and (max-width: 768px) {
}

/* SMALL SCREEN SIZE */
@media screen and (max-width: 650px) {
}

/* SMALL SMARTPHONES */
@media screen and (max-width: 576px) {
}
