* {
  border: 1px solid red;
  /* box-sizing: border-box; */
}

:root {
  --dark-text: #13293d;
  --dark-background: #13293d;
  --light-text: #f5f5f5;
  --light-background: white;
  --border-radius: 5px;
  --skiblue: #3e8ed0;
}

body {
  font-family: bangers, Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: var(--light-background);
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
} */

/* .hidden {
  visibility: hidden;
} */

.hero {
  /* background: center / cover no-repeat url("/Users/stevecalla/du_coding/projects/ski-planner/assets/images/mountainbackground1.jpg"); */
  
  /* background: center / cover no-repeat url("mountainbackground1.jpg") */
}

.background-img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  min-height: 100%;
  min-width: 360px;
  z-index: -1;
  z-index: 0;
  object-fit: cover;
}

.custom-width {
  min-width: 360px;
}

/* .hero-bkg {
  background: url(assets/images/mountaindashboard.jpg);
} */

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 5px;
} */

.title {
  /* font-family: bangers; */
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 75px;
  color: white;
}

/* .subtitle2 { */
  /* font-family: bangers; */
/* } */

.profile-button {
  width: 100px;
  height: 50px;
  margin: 20px 40px;
  /* font-family: bangers; */
  color: var(--skiblue);
}

.custom-checkboxes {
  /* font-family: bangers; */
  color: var(--skiblue);
  border-radius: 5px;
  background-color: var(--light-background);
}

/* Set the size of the div element that contains the map */
.mapSection {
  display: flex;
  justify-content: center;

}

.map {
  width: 75vw;
  min-width: 315px;
  height: 75vh;
  border: 3px white solid;
  border-radius: 10px;
}

.validation-modal {
  /* z-index: 2147483647; */
}

/* ---------- MOBILE RESPONSIVE ---------- */
/* LARGE SCREENS / TABLETS */
@media screen and (max-width: 767px) {
  .header {
    display: flex;
    flex-direction: column!important;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .title {
    margin-top: 20px;
  }

  .profile-button {
    width: 80px;
    height: 40px;
    margin: 5px 40px 10px 40px;
    /* margin: 100px; */
  }

  .map {
    height: 65vh;
  }
}
